<!-- footer added to showcase my information -->
<!-- footer is not part of the prototype -->
<!-- links provided for github page and gmail -->

<footer>
  <p>Developed by
    <span>Rizwan Pasha.</span>
  </p>
  <div>
    <p>
      <span class="gmail-icon">
        <i class="fa fa-google" aria-hidden="true"></i>
      </span>rizwanpasha793@gmail.com</p>
    <a href="https://www.github.com/rizwanpasha/onedirect" target="_blank">
      <span class="github-icon">
        <i class="fa fa-github" aria-hidden="true"></i>
      </span>github.com/rizwanpasha</a>
  </div>

</footer>
