/* applying grid layout for the app */

.app-container {
  margin: 0 auto;
  display: grid;
  grid-template: 60px 1fr/ 60px 1fr;
  grid-template-areas: 'side-menu header' 'side-menu main-container';
}

.header {
  grid-area: header;
}

.side-menu {
  grid-area: side-menu;
}

.main-container {
  grid-area: main-container;
  max-width: 100%;
  overflow: hidden;
}


/* rearranging the grid system if device size in lesser than 700px */

@media screen and (max-width:700px) {
  .app-container {
    grid-template: 60px 60px 1fr/ 1fr;
    grid-template-areas: 'header' 'side-menu' 'main-container';
    width: 100vw;
  }
}
