<aside class="side-menu">
  <a routerLink="/home" class="lettermark">
    <h1>OD</h1>
  </a>
  <a routerLink="/home" class="home">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <a routerLink="/no-result" class="inbox">
    <i class="fa fa-inbox" aria-hidden="true"></i>
  </a>
  <a routerLink="/no-result" class="stats">
    <i class="fa fa-bar-chart" aria-hidden="true"></i>
  </a>
  <a routerLink="/no-result" class="menu">
    <i class="fa fa-th" aria-hidden="true"></i>
  </a>
  <a routerLink="/no-result" class="setting">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </a>
</aside>
