* {
  box-sizing: border-box;
}

.side-menu {
  background: #28313b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  overflow: visible;
}

.lettermark>h1 {
  height: 60px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  border: none;
}

a:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.setting:hover,
.menu:hover,
.stats:hover,
.inbox:hover,
.home:hover,
.lettermark:hover {
  background-color: #101316;
}

.active.home {
  border-left: 3px solid tomato;
}

.active.home>i {
  color: tomato;
}

.active.inbox {
  border-left: 3px solid orange;
}

.active.inbox>i {
  color: orange;
}

.active.stats {
  border-left: 3px solid dodgerblue;
}

.active.stats>i {
  color: dodgerblue;
}

.active.menu {
  border-left: 3px solid slateblue;
}

.active.menu>i {
  color: slateblue;
}

.active.setting {
  border-left: 3px solid mediumaquamarine;
}

.active.setting>i {
  color: mediumaquamarine;
}
